<form ngNativeValidate ngForm="t" ><nb-card>
  <nb-card-header>

    <h1 style="
      color: #3366ff;
      text-align: center ;
  "> Alert configuration </h1>
  </nb-card-header>
  <nb-card-body>

    <div class="row">
      <div class="col-md-6 col-sm-12">






      </div>

      <div class="col-md-6 col-sm-12">
        <div class="form-group">


        </div>

        <div>

      </div>
    </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton status="success"style="border-radius: 24px;" type="submit">save alert</button>
    <button nbButton status="danger"style="border-radius: 24px;" type="reset">cancel</button>
  </nb-card-footer>
</nb-card>
</form>



<nb-card>
  <nb-card-header style="
    color: #23afdc;
    text-align: center;">
    All alerts
  </nb-card-header>
  <nb-card-body size="100%">

  </nb-card-body>
</nb-card>








