<!doctype html>
<html>
<head>

</head>
<body>

<nb-card>
<nb-card-header>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" nbButton [status]="'info'" outline class="btn btn-secondary" (click)="stylesatelit()">Satellite style</button>
    <button type="button" nbButton [status]="'info'" outline class="btn btn-secondary" (click)="stylestreet()">Streets style</button>
    </div>

<div id='map' style='width: 100%; height: 1000px;'></div>

</nb-card-header>


</nb-card>


</body>
</html>
