# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pfeback-master\pfeback-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
